:root {
  --body-height: calc(100vh - 345px);
}

/* General page styling */
body {
  font-family: Arial, sans-serif;
  /* Ensure the gradient covers the full viewport height so it doesn't restart */
  min-height: 100vh;
  background-image: linear-gradient(#333, #c3c3c3);
  margin: 0;
  padding: 0;
}

/* Header section styling */
header {
  /*background: #333;*/
  color: #0a0a0a;
  padding: 10px 0;
  text-align: center;
}

h1 {
  color: #171717;
  background-color: #63667270;
  width: 40%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #171717;
}

/* Styling for team logo image */
.team-logo {
  width: 150px; /* Adjust the size as needed */
  margin-top: 10px;
}

/* Menu button styling */
header nav {
  margin-top: 10px;
}

header nav button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}

header nav button:hover {
  background: #0056b3;
}

/* Flex container for team bios and vision sections */
.container {
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: transparent;
}

.container.vision {
  margin: 0 auto;
  width: 50%;
}

.container.vision h2 {
  text-align: center;
  margin-top: 15px;
  text-decoration: underline;
}

/* Card styling for individual team bios */
.card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  flex: 1 1 calc(30% - 40px);
  text-align: center;
  transition: transform 0.2s;
}

.card.Ivan {
  background-image: linear-gradient(#8e44ad, #2ecc71);
  color: #0800ff;
}

.card:hover {
  transform: scale(1.05);
}

h2 {
  margin: 0 0 10px;
}

/* Initially hide bio details */
.bio {
  display: none;
  margin-top: 10px;
  color: #555;
}

.bio img {
  height: 200px;
  width: 200px;
}

.bio.Ivan {
  display: none;
  color: #0037ff;
}

.bio.Ivan p.quote {
  font-style: italic;
  margin-bottom: -10px;
  font-size: 13px;
}

.bio.Ivan p.author {
  text-indent: 40px;
  text-align: left;
  font-size: 13px;
}

/* Button styling */
button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.bio-pic {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  margin: 10px auto;
  display: block;
}

.card.Zack {
  background-color: #008080;
  color: white;
}

.bio.Zack {
  color: white;
}

.card.Gray {
  background-image: linear-gradient(#1d13bd, #8625e6);
  color: white;
}

.bio.Gray {
  color: white;
}

.card.Natalie {
  background-image: linear-gradient(#809848, #B0CA87);
  color: white;
}

.bio.Natalie {
  display: none;
  color: #2E0014;
}

.bio.Natalie p.quote {
  font-style: italic;
  margin-bottom: -10px;
  font-size: 13px;
}

.bio.Natalie p.author {
  text-indent: 40px;
  text-align: left;
  font-size: 13px;
}